/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Dec-2014, 18:34:10
    Author     : Venture
*/

html, h1, h2, h3, h4, h5, h6, div, span, applet, object, iframe, blockquote, pre,
a, p, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: Helvetica, Tahoma, Arial, sans-serif;                      
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}

h1,h2,h3,h4, h5,h6, p{
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    margin-top: 10px;
}

h3, h5{
    color: sandybrown;
}

p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #625d5d;
}

a {
    text-decoration: none;
    color: black;
}

body{
    margin: 0px;
}

#container {
    position:relative;
    min-height:100%;
}

#header {
    width: 100%;
    min-width: 960px;
    box-shadow: 0px 0px 20px 0px grey;
    position: absolute;
    z-index: 1;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.innerpad{
    box-sizing: border-box;
}

#navigation, #header, #logo{
    height: 60px;
}

#logo{
    width: 30%;
    float: left;
}

#logo h1{
    font-size: 45px;
    color: #25383c
}

#navigation {
    width: 70%;
    float: left;
}

#navigation ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#navigation li{
    width: 25%;
    margin: 0 auto; 
    float: left;
    list-style-type: none;
}

#navigation ul li a{
    display: block;
    line-height: 60px;
    color: #66a82d;
    margin: 0px;
    padding: 0px;
    color: wheat;
    font-family: Arial;
    font-weight: bold;
}

#navigation ul li a:hover{
    color: sandybrown;
}

#main-body{
    padding-top: 60px;
}

#main-body-container {
    overflow:hidden;
    max-width: inherit;
}

#left-box, #right-box{
    float: left;
}

#left-box{
    width: 30%;
    height: 100%;
    max-height: 600px;
    border-bottom: 1px solid darkgray;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px 0px grey;
    position: relative;
    z-index: 2;
}

#right-box{
    width: 69.5%;
    height:inherit;
    border-left: 1px solid darkgray;
}

#right-box a{
    width: 100%;
    height: 100%;
}

#topbox{
    border-bottom: 1px solid darkgray;
}

#topbox, #bottombox, .right-inner-box{
    min-height: 300px;
    height: 50%;
}

#topbox, #bottombox {
    width: 100%;
}

#topbox h3, #topbox p,#bottombox h3, #bottombox p, address{
    color: #25383c;
    padding: 20px;
    padding-bottom: 5px;
}

#bottombox h3{
    color: sandybrown;
}

.right-inner-box {
    float: left;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

.right-inner-box-wide{
    float: left;
    width: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 25px;
    max-height: 200px;
}

.spacer{
    background-color: white;
    width: 100%;
    height: 50px;
    float: right;
}

.right-inner-box-centre{
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 800px;
    max-width: 500px;
}

.right-inner-box-centre img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    height: 100%;
    width: 80%;
    background-position: center;
    background-size: cover;
}

.descriptor-box{
    background-color: white;
    top: 0;
    left: 0;
    float: left;
    width: 45%;
    height: 200px;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.descriptor-box-wide{
    background-color: white;
    top: 0;
    left: 0;
    float: left;
    width: 100%;
    height: 50%;
    padding: 20px;
}

.descriptor-box-wide h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #25383c;
}

#footer {
    background-color: sandybrown;
    min-height: 50px;
    width: 100%;
    min-width: 960px;
    box-shadow: 0px 0px 20px 0px grey;
    margin-top: 20px;
}

#footer-main {
    background-color: sandybrown;
    min-height: 50px;
    width: 100%;
    min-width: 960px;
    box-shadow: 0px 0px 20px 0px grey;
}
